.ico_check
  +p-el(after, 0.6*$size, 0.1*$size)
    absolute: top 0 left 0
    background: $color
    transform: translateX(0.35*$size) translateY(0.7*$size) rotate(-45deg)
  +p-el(before, 0.2*$size, 0.1*$size)
    absolute: top 0 left 0
    background: $color
    transform: translateX(0.29*$size) translateY(0.5*$size) rotate(45deg)