.ico_fastforward
  +p-el(before)
    absolute: left 0.2*$size top 0.15*$size
    triangle: 0.7*$size, $color, right
  +p-el(after)
    absolute: left 0.5*$size top 0.15*$size
    triangle: 0.7*$size, $color, right