@import 'mixins.styl'
@import 'variables.styl'

@import 'icons/eye.styl'
@import 'icons/lightening.styl'
@import 'icons/pencil.styl'
@import 'icons/hamburger.styl'
@import 'icons/expand.styl'
@import 'icons/cloud.styl'
@import 'icons/microphone.styl'
@import 'icons/home.styl'
@import 'icons/play.styl'
@import 'icons/pause.styl'
@import 'icons/stop.styl'

.ico
  size: $size






