p-el($el, $el-width = null, $el-height = null)
  if($el == 'before' || $el == 'after')
    &
      position: relative unless @position
    &::{$el}
      content: ''
      display: block
      if($el-width)
        width: $el-width
      if($el-height)
        height: $el-height
      {block}
  else
    error($el + 'is not a valid pseudo-element.')

-pos(type, args)
  i = 0
  position: unquote(type)
  for j in (1..4)
    if length(args) > i
      {args[i]}: (args[i + 1] is a 'unit' || args[i + 1] == 'auto') ? args[i += 1] : 0
    i += 1

absolute()
  -pos('absolute', arguments)
  z-index: 1 unless @z-index

relative()
  -pos('relative', arguments)