.ico_eye {
  position: relative;
}
.ico_eye::before {
  content: '';
  display: block;
  width: 3em;
  height: 3em;
  transform-origin: 0 0;
  position: absolute;
  left: 0.4em;
  top: 2.5em;
  z-index: 1;
  background: #333;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 80%;
  transform: rotate(-45deg);
}
.ico_eye {
  position: relative;
}
.ico_eye::after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  transform-origin: 0 0;
  position: absolute;
  left: 1.55em;
  top: 1.55em;
  z-index: 1;
  border: 0.45em solid #fff;
  border-radius: 100%;
}
.ico_lightening {
  position: relative;
}
.ico_lightening::before {
  content: '';
  display: block;
  transform-origin: 0 0;
  position: absolute;
  left: 60%;
  top: 50%;
  z-index: 1;
  margin-left: -0.75em;
  margin-top: -2.5em;
  height: 0;
  width: 0;
  border-right: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
  border-bottom: 3em solid #333;
  transform: rotate(25deg);
}
.ico_lightening {
  position: relative;
}
.ico_lightening::after {
  content: '';
  display: block;
  transform-origin: 0 0;
  position: absolute;
  left: 60%;
  top: 50%;
  z-index: 1;
  margin-left: -1em;
  margin-top: 2.5em;
  height: 0;
  width: 0;
  border-right: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
  border-bottom: 3em solid #333;
  transform: rotate(-145deg);
}
.ico_pencil {
  position: relative;
}
.ico_pencil::after {
  content: '';
  display: block;
  width: 15%;
  height: 80%;
  transform-origin: 0 0;
  position: absolute;
  left: 50%;
  z-index: 1;
  margin-left: -5px;
  background: linear-gradient(to bottom, #333 0%, #333 15%, #fff 15%, #fff 25%, #333 25%, #333 100%);
  transform: rotate(45deg);
}
.ico_pencil {
  position: relative;
}
.ico_pencil::before {
  content: '';
  display: block;
  transform-origin: 0 0;
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 1;
  height: 0;
  width: 0;
  border-right: 7.5px solid transparent;
  border-left: 7.5px solid transparent;
  border-top: 15px solid #333;
  transform: rotate(45deg);
}
