.ico_eye {
  position: relative;
}
.ico_eye::before {
  content: '';
  display: block;
  width: 3em;
  height: 3em;
  transform-origin: 0 0;
  position: absolute;
  left: 0.4em;
  top: 2.5em;
  z-index: 1;
  background: #333;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 80%;
  transform: rotate(-45deg);
}
.ico_eye {
  position: relative;
}
.ico_eye::after {
  content: '';
  display: block;
  width: 2em;
  height: 2em;
  transform-origin: 0 0;
  position: absolute;
  left: 1.5em;
  top: 1.5em;
  z-index: 1;
  border: 0.5em solid #fff;
  border-radius: 100%;
}
.ico_lightening {
  position: relative;
}
.ico_lightening::before {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  left: 60%;
  top: 50%;
  z-index: 1;
  margin-left: -0.75em;
  margin-top: -2.5em;
  height: 0;
  width: 0;
  border-right: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
  border-bottom: 3em solid #333;
  transform: rotate(25deg);
}
.ico_lightening {
  position: relative;
}
.ico_lightening::after {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  left: 60%;
  top: 50%;
  z-index: 1;
  margin-left: -1em;
  margin-top: 2.5em;
  height: 0;
  width: 0;
  border-right: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
  border-bottom: 3em solid #333;
  transform: rotate(-145deg);
}
.ico_pencil {
  position: relative;
}
.ico_pencil::after {
  content: '';
  display: block;
  width: 0.75em;
  height: 4em;
  transform-origin: 0 0;
  position: absolute;
  left: 75%;
  top: 15%;
  z-index: 1;
  background: linear-gradient(to bottom, #333 0%, #333 15%, #fff 15%, #fff 25%, #333 25%, #333 100%);
  transform: rotate(45deg);
}
.ico_pencil {
  position: relative;
}
.ico_pencil::before {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  left: 15%;
  bottom: 10%;
  z-index: 1;
  height: 0;
  width: 0;
  border-right: 0.375em solid transparent;
  border-left: 0.375em solid transparent;
  border-top: 0.75em solid #333;
  transform: rotate(45deg);
}
.ico_hamburger {
  position: relative;
}
.ico_hamburger::before {
  content: '';
  display: block;
  width: 5em;
  height: 2.4em;
  transform-origin: 0 0;
  position: absolute;
  top: 0.5em;
  left: 0;
  z-index: 1;
  border-top: 0.8em #333 solid;
  border-bottom: 0.8em #333 solid;
}
.ico_hamburger {
  position: relative;
}
.ico_hamburger::after {
  content: '';
  display: block;
  width: 5em;
  height: 0.8em;
  transform-origin: 0 0;
  position: absolute;
  bottom: 0.5em;
  left: 0;
  z-index: 1;
  border-bottom: 0.8em #333 solid;
}
.ico_expand {
  width: 5em;
  height: 5em;
  background: #333;
  overflow: hidden;
}
.ico_expand {
  position: relative;
}
.ico_expand::after {
  content: '';
  display: block;
  width: 4.375em;
  height: 1.75em;
  transform-origin: 0 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translateX(3.75em) translateY(0.625em) rotate(135deg);
  background: linear-gradient(to right, #fff 0%, #fff 42%, #333 42%, #333 60%, #fff 60%, #fff 100%);
}
.ico_expand {
  position: relative;
}
.ico_expand::before {
  content: '';
  display: block;
  width: 4.375em;
  height: 1.75em;
  transform-origin: 0 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  transform-origin: 100% 100%;
  transform: translateX(-3.75em) translateY(-0.625em) rotate(135deg);
  background: linear-gradient(to right, #fff 0%, #fff 42%, #333 42%, #333 60%, #fff 60%, #fff 100%);
}
.ico_cloud {
  background: radial-gradient(circle at 3.4375em 2.078125em, #333 0%, #333 17%, transparent 18%, transparent 100%), radial-gradient(circle at 2.078125em 2.078125em, #333 0%, #333 30%, transparent 31%, transparent 100%), radial-gradient(circle at 1em 3.125em, #333 0%, #333 17%, transparent 18%, transparent 100%), radial-gradient(circle at 4em 3.125em, #333 0%, #333 17%, transparent 18%, transparent 100%), linear-gradient(90deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%), linear-gradient(transparent 43.75%, #333 43.75%, #333 81.25%, transparent 81.25%);
}
.ico_cloud2 {
  background: radial-gradient(circle at 3.4375em 2.078125em, #333 0%, #333 17%, transparent 18%, transparent 100%), radial-gradient(circle at 2.078125em 2.078125em, #333 0%, #333 30%, transparent 31%, transparent 100%), radial-gradient(circle at 1em 3.125em, #333 0%, #333 17%, transparent 18%, transparent 100%), radial-gradient(circle at 4em 3.125em, #333 0%, #333 17%, transparent 18%, transparent 100%), linear-gradient(90deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%), linear-gradient(transparent 43.75%, #333 43.75%, #333 81.25%, transparent 81.25%);
}
.ico_cloud2 {
  position: relative;
}
.ico_cloud2::before {
  content: '';
  display: block;
  width: 0.625em;
  height: 0.625em;
  transform-origin: 0 0;
  position: absolute;
  left: 50%;
  top: 55%;
  z-index: 1;
  margin-left: -0.3125em;
  background: #fff;
}
.ico_cloud2 {
  position: relative;
}
.ico_cloud2::after {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  height: 0;
  width: 0;
  border-right: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
  border-bottom: 0.75em solid #fff;
  position: absolute;
  left: 50%;
  top: 55%;
  z-index: 1;
  margin-top: -0.625em;
  margin-left: -0.75em;
}
.ico_microphone {
  background: linear-gradient(to right, #fff 0%, #fff 1.75em, transparent 1.75em, transparent 3.25em, #fff 3.25em), linear-gradient(to top, #fff 0.5em, transparent 0.5em, transparent 4.5em, #fff 4.5em), linear-gradient(to right, transparent 2.325em, #333 2.325em, #333 2.675em, transparent 2.675em), linear-gradient(to top, transparent 0.5em, #333 0.5em, #333 0.8em, transparent 0.8em);
}
.ico_microphone {
  position: relative;
}
.ico_microphone::after {
  content: '';
  display: block;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 0 0;
  position: absolute;
  top: 0.5em;
  left: 50%;
  z-index: 1;
  background: #333;
  border-radius: 0.75em;
  margin-left: -0.75em;
}
.ico_microphone {
  position: relative;
}
.ico_microphone::before {
  content: '';
  display: block;
  width: 2.5em;
  height: 2em;
  transform-origin: 0 0;
  position: absolute;
  top: 1.5em;
  left: 50%;
  z-index: 1;
  background: #fff;
  margin-left: -1.25em;
  border: 0.25em solid #333;
  border-top: none;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
}
.ico_home {
  background: linear-gradient(to top, #fff 1em, transparent 1em, transparent 2.5em, #fff 2.5em), linear-gradient(to right, transparent 2.25em, #fff 2.25em, #fff 2.75em, transparent 2.75em), linear-gradient(to right, transparent 1.25em, #333 1.25em, #333 3.75em, transparent 3.75em);
}
.ico_home {
  position: relative;
}
.ico_home::after {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  top: 1em;
  left: 0.5em;
  z-index: 1;
  height: 0;
  width: 0;
  border-right: 2em solid transparent;
  border-left: 2em solid transparent;
  border-bottom: 1.5em solid #333;
}
.ico_home {
  position: relative;
}
.ico_home::before {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  z-index: 1;
  width: 0.5em;
  height: 1.25em;
  background: #333;
}
.ico_play {
  position: relative;
}
.ico_play::after {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  top: 0.75em;
  left: 1.25em;
  z-index: 1;
  height: 0;
  width: 0;
  border-top: 1.75em solid transparent;
  border-bottom: 1.75em solid transparent;
  border-left: 3em solid #333;
}
.ico_pause {
  position: relative;
}
.ico_pause::before {
  content: '';
  display: block;
  width: 1.25em;
  height: 3.5em;
  transform-origin: 0 0;
  position: absolute;
  left: 1em;
  top: 0.75em;
  z-index: 1;
  background: #333;
}
.ico_pause {
  position: relative;
}
.ico_pause::after {
  content: '';
  display: block;
  width: 1.25em;
  height: 3.5em;
  transform-origin: 0 0;
  position: absolute;
  right: 1em;
  top: 0.75em;
  z-index: 1;
  background: #333;
}
.ico_stop {
  position: relative;
}
.ico_stop::before {
  content: '';
  display: block;
  width: 3.5em;
  height: 3.5em;
  transform-origin: 0 0;
  position: absolute;
  left: 0.75em;
  top: 0.75em;
  z-index: 1;
  background: #333;
}
.ico_skip {
  background: linear-gradient(to top, #fff 0.75em, transparent 0.75em, transparent 4.25em, #fff 4.25em), linear-gradient(to right, transparent 3.75em, #333 3.75em, #333 4.25em, transparent 4.25em);
}
.ico_skip {
  position: relative;
}
.ico_skip::before {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  left: 0.75em;
  top: 0.75em;
  z-index: 1;
  height: 0;
  width: 0;
  border-top: 1.75em solid transparent;
  border-bottom: 1.75em solid transparent;
  border-left: 1.75em solid #333;
}
.ico_skip {
  position: relative;
}
.ico_skip::after {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  left: 2.25em;
  top: 0.75em;
  z-index: 1;
  height: 0;
  width: 0;
  border-top: 1.75em solid transparent;
  border-bottom: 1.75em solid transparent;
  border-left: 1.75em solid #333;
}
.ico_fastforward {
  position: relative;
}
.ico_fastforward::before {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  left: 1em;
  top: 0.75em;
  z-index: 1;
  height: 0;
  width: 0;
  border-top: 1.75em solid transparent;
  border-bottom: 1.75em solid transparent;
  border-left: 1.75em solid #333;
}
.ico_fastforward {
  position: relative;
}
.ico_fastforward::after {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  left: 2.5em;
  top: 0.75em;
  z-index: 1;
  height: 0;
  width: 0;
  border-top: 1.75em solid transparent;
  border-bottom: 1.75em solid transparent;
  border-left: 1.75em solid #333;
}
.ico_check {
  position: relative;
}
.ico_check::after {
  content: '';
  display: block;
  width: 3em;
  height: 0.5em;
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #333;
  transform: translateX(1.75em) translateY(3.5em) rotate(-45deg);
}
.ico_check {
  position: relative;
}
.ico_check::before {
  content: '';
  display: block;
  width: 1em;
  height: 0.5em;
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #333;
  transform: translateX(1.45em) translateY(2.5em) rotate(45deg);
}
.ico_check2 {
  border-radius: 100%;
  border: 0.5em #333 solid;
}
.ico_check2 {
  position: relative;
}
.ico_check2::after {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  z-index: 1;
}
.ico_check2 {
  position: relative;
}
.ico_check2::before {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  z-index: 1;
}
.ico_comment {
  position: relative;
}
.ico_comment::before {
  content: '';
  display: block;
  width: 4em;
  height: 3em;
  transform-origin: 0 0;
  position: absolute;
  top: 1em;
  left: 0.5em;
  z-index: 1;
  background: #333;
  border-radius: 65%;
}
.ico_comment {
  position: relative;
}
.ico_comment::after {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  height: 0;
  width: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 1em solid #333;
  transform: translateX(4em) translateY(3em) rotate(45deg);
}
.ico_calendar {
  background: linear-gradient(to bottom, #fff 1.25em, #333 1.25em, #333 2.25em, transparent 2.25em, transparent 4.5em, #333 4.5em), linear-gradient(to right, #333 0.5em, transparent 0.5em, transparent 4.5em, #333 4.5em);
}
.ico_calendar {
  position: relative;
}
.ico_calendar::before {
  content: '';
  display: block;
  width: 0.75em;
  height: 1.25em;
  transform-origin: 0 0;
  position: absolute;
  top: 0.75em;
  left: 1em;
  z-index: 1;
  background: #fff;
  border: 0.25em solid #333;
}
.ico_calendar {
  position: relative;
}
.ico_calendar::after {
  content: '';
  display: block;
  width: 0.75em;
  height: 1.25em;
  transform-origin: 0 0;
  position: absolute;
  top: 0.75em;
  right: 1em;
  z-index: 1;
  background: #fff;
  border: 0.25em solid #333;
}
.ico_wifi {
  background: radial-gradient(circle at 2.5em 5em, #333 12%, transparent 12%, transparent 24%, #333 24%, #333 36%, transparent 36%, transparent 48%, #333 48%, #333 60%, transparent 60%);
}
.ico_wifi {
  position: relative;
}
.ico_wifi::before {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 0;
  width: 0;
  border-bottom: 2.5em solid #fff;
  border-right: 2.5em solid transparent;
}
.ico_wifi {
  position: relative;
}
.ico_wifi::after {
  content: '';
  display: block;
  height: ;
  transform-origin: 0 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 0;
  width: 0;
  border-bottom: 2.5em solid #fff;
  border-left: 2.5em solid transparent;
}
.ico {
  width: 5em;
  height: 5em;
}
