html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  /*font-size: 100px*/
}

.container {
  width: 50em;
  height: 50em;
}

/*.ico {
  margin: 10px;
}*/